<div class="jumbotron">
  <h1>Would you rather lather...?</h1>
</div>

<h4><%= link_to "Add a question", new_question_path, id:"new-question-button", remote: true %></h4>

<% @questions.order(created_at: :desc).each do |question| %>
  <%= render question %>
<% end %>

<br><br>
